@model Flight

@{
    ViewBag.Title = "Create Flight";
}

<h2>Create Flight</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Create", "Airport", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Flight Details</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.FlightNumber)
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.FlightNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FlightNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destination)
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Destination, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    </fieldset>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>